*, *::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
} 
:root{
    font-size: 16px;
    font-family: 'Helvetica Neue';
}


body{
    
    background: #FAFAFA;
    
}
.navbar{
    display:flex;
    position: relative;

}
.logo-icon{
    position: absolute;
    top:13px;
    left: 263px;
}
.d-flex{
    width: 216px;
    height: 29px;
    border-radius: 3px;
    background: #FAFAFA;
    position: absolute;
    top:9px;
    left: 618px;
   
}
::placeholder{
    color: var(--instagramgrey, #8F8F8F);
    text-align: center;
    font-family: inherit;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.icon-search{
    position: absolute;
    top: 0px;
    left: 65px;
}
.nav{
    display: flex;
    
   }
   .icon1{
       position: absolute;
       top: 13px;
       left: 1007px;
   }
   .icon2{
   
       position: absolute;
       top: 15px;
       left: 1052px;
      z-index:0;
      
   }
   .icon3{
       position: absolute;
       top: 13px;
       left: 1096px;
   }
   .icon4{
       position: absolute;
       top: 14px;
       left: 1140px;
   }
   .icon5{
       position: absolute;
       top: 13px;
       left: 1176px;
   }
   .icon6{
       position: absolute;
       top: 7px;
       left: 1064px;
    
   }
   .bi-5-circle-fill{
       fill: #DC565B;
       background: #FAFAFA;
       border-radius: 1px solid #000000;
   }
